NEXT_PUBLIC_BASE_URL="http://localhost:3000"

NEXT_PUBLIC_SUPABASE_URL="https://iithcekowpoejunsgnik.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpdGhjZWtvd3BvZWp1bnNnbmlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM1NDI5MzQsImV4cCI6MjA2OTExODkzNH0.yFPl-B1YRq6kUFDNt08aUxlpLlyp6TkVJIf6fXTLP2I"